    body {
        margin: 0;
        padding: 1%;
        background: white;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    a,p,.title{
        color: black;
    }
    table{
        width: 40%;
    }
    td{
        vertical-align: top;
    }
    tr{
        margin-bottom: 3%;
    }
    .workTitle{
        padding: 0%;
    }