@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

h1,
h2 {
    font-family: "Shippori Antique B1", sans-serif;
    margin: 0.1vh;
}

body {
    margin-top: 4px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 4px;
    padding-top: 0%;
    background: white;
    color: black;
    font-size: 1rem;
    min-height: 50vh;
    font-family: serif;
    /*was 100 but not surewhy*/

}

::selection {
    background: #0000ff;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1px #ffffff, 0px 0px 2px #ffffff;
}

::-moz-selection {
    background: #0000ff;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1px #ffffff, 0px 0px 2px #ffffff;
}

::-webkit-selection {
    background: #0000ff;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1px #ffffff, 0px 0px 2px #ffffff;
}


img {
    display: block;
    margin: 0 auto;
}

p {
    color: inherit;
    min-width: 220px;
    margin: 0%;
}


a {
    color: grey;
    transition: .3s ease-in-out;
    text-decoration: none;
}

a:hover {
    filter: blur(1px);
    color: blue;
}

hr {
    height: 1px;
    background-color: black;
    border: none
}

.bold {
    font-size: inherit;
    font-weight: bold;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
}


section {
    /*flexbox stuff*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header>section {
    height: auto;
    padding-bottom: .5vh;
}


.selector {
    /*css for table selector in header */
    border-spacing: 0px;

    td {
        width: 40px;

        >a {
            text-decoration: none;
            color: inherit;
        }
    }

    .label {
        width: 200px;
    }

    td:nth-of-type(1) {
        /*probably wouldve been easier to not use a table and justify or something*/
        text-align: left;
    }

    td:nth-of-type(2) {
        text-align: center;
    }

    td:nth-of-type(3) {
        text-align: right;
    }
}

.th2 {
    text-align: right;
    padding-top: 3vw;
    padding-left: 1vw;
    justify-content: end;

    >p {
        text-align: right;
    }
}

#workDiv {
    /*columns structuring for the work page*/
    display: flex;
    padding-right: 10vw;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);

    section {
        transition: .4s ease-in-out;
    }

    .project {
        display: none;
        /*initially dont display content to allow for page load effect and also lazy loading*/

    }

    .visible {
        /*toggled by JS for page load effect*/
        display: flex !important;
    }

    p {
        text-align: inherit;
        vertical-align: top;
        padding-right: 3%;
    }

    section {
        margin-top: 1vh;

        :hover {
            filter: blur(0px);
        }
    }

    .c1 {
        flex: 1 220;
        align-self: flex-start;
    }

    .c2 {
        flex: 3 220;
        align-self: center;

        text-align: right;
        padding-right: 3vw;
        padding-left: 10vw;
        min-width: 220px;

        p {
            max-width: 380px;
            justify-self: end;
        }
    }

    .c3 {
        flex: 1 220;
    }
}



.tableImg {
    /*table image sizing // not actually used in a table but it looks like one*/
    min-width: 160px;
    max-width: 320px;
    width: 100%;
    height: auto;
    margin-right: 5vw;
    transition: filter 1s ease-in-out;
    /*for the hover resizing*/
}

.img {
    >img {
        /*for images in the portfolio page*/
        width: 300px;
    }
}

.popImg {
    /*for images in popovers */
    height: 75vmin;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.text {
    min-width: 250px;
    width: 15%;
    margin-right: 5%;
    margin-left: 1%;

}


.ytVid {
    display: flex;
    flex-direction: column;


    p {
        justify-self: end;
        text-align: end;
        max-width: 250px;

    }
}

/*#contact{
    
}*/

@media only screen and (min-width: 1400px) {
    #workDiv {
        margin-left: 15vw;
    }
}

@media only screen and (min-width: 1080px) {
    #workDiv {
        :hover {
            color: blue;
            filter: blur(1px);

            .tableImg {
                filter: brightness(5);
            }
        }
    }
}


@media only screen and (max-width: 1080px) {
    #workDiv {
        padding: 0;
    }

    .tableImg {
        max-width: 1000px;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    .project {
        margin-top: 2vh;
    }

    body {
        font-size: .9rem;
    }

    .text {
        min-width: 320px;
    }

    .c2 {
        padding-right: 0 !important;
    }

    .ytVid {
        margin-left: 0 !important;
        margin-right: 0 !important;

        iframe {
            zoom: 60%;

        }

    }
}

.rhHeader {
    display: none;
    /*text on the rh side of header, not in use*/
}


:popover-open {
    border: none;
    width: 95%;
    height: fit-content;
    max-height: 95%;
    background-color: rgba(0, 0, 0, 0);
}



::backdrop {
    transition: 3s;
    backdrop-filter:blur(1.5px) brightness(0.9) contrast(3);
}




footer {
    padding-top: 5vh;
    filter: blur(3px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
    opacity: 0;
    max-width: 100vh;

    a {
        color: inherit;
    }

    a:hover {
        color: inherit;
    }
}

footer.show {
    opacity: 1;
    filter: blur(0px);
}




html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}