body {
    margin-top: 16px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1%;
    padding-top: 0%;
    background: white;
    font-size: 1rem;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    color: black;
    min-width: 220px;
    margin: 0%;
}


a {
    color: grey;
}

.bold {
    font-size: inherit;
    font-weight: bold;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
}


section {
    /*flexbox stuff*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

header>section {
    height: auto;
    padding-bottom: .5vh;
}


.selector {/*css for table selector in header */
    border-spacing: 0px;
    td{
        width: 40px;
        >a{
            text-decoration: none;
            color: inherit;
        }
    }
    .label{
        width: 100px;
    }
    td:nth-of-type(1){ /*probably wouldve been easier to not use a table and justify or something*/
        text-align: left;
    }
    :nth-of-type(2){
        text-align: center;
    }
    :nth-of-type(3){
        text-align: right;
    }
     
}


.th2 {
    text-align: right;
    padding-top: 5vw;
    justify-content: end;
    >p{
        text-align: right;
    }
}

#workDiv {
    
    p {
        text-align: inherit;
        vertical-align: top;
        padding-right: 3%;
    }
    section{
        padding-top: 1vh;

        :hover{
            filter: blur(0px);
        }
    }
    .c1{
        flex: 1 220;
    }
    .c2{
        flex: 3 220;
        text-align: right;
        padding-right: 10vw;
        min-width: 300px;
    }
    .c3 {
        flex: 3 220;
    }
} 



.tableImg {  /*table image sizing*/
    min-width: 380px;
    max-width: 400px;
    width: 100%;
    height: auto;
}

.text{
    min-width: 250px;
}

@media only screen and (max-width: 900px){
    .tableImg{
        max-width: 1000px;
        width: 100%;
    }
    body{
        font-size: 2rem;
    }
    .text{min-width: 500px;}
}



html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
